body {
  width: 70%;
  margin: 0 auto;
  color: rgb(94, 89, 89);
  font-family: 'Times New Roman', Times, serif;
  background-image: url(https://github.com/mayuno-k/portfolio/blob/main/background.jpg?raw=true);
  margin: auto;
}

li {
  font-weight:bolder;
  font-size: 20px;
  margin-top: 10px;
}
